@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-left: 10%;
  align-items: center;
  width: 70%; /* Reduced width for a smaller container */
  max-width: 1000px; /* Limit maximum size */
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.left-section {
  width: 45%;
  background-color: #90533b;
  color: white;
  padding: 1.5rem;
  border-radius: 15px;
}

.right-section {
  width: 45%;
  background: #fff;
  padding: 1.5rem;
  border-radius: 15px;
}

.dropzone {
  border: 2px dashed #DA9836;
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-item img {
  width: 100px;
  height: auto;
}

.submit-button {
  background-color: #DA9836;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.submit-button:hover {
  background-color: #90533b;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  color: #DA9836;
  text-align: center;
  margin-bottom: 2rem;
}

a{
  font-family: "Roboto", sans-serif;
  color: #90533b;
  margin: 10px;
}

.page-heading {
  align-items: center;
}